.header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a5a1a1;
    padding-bottom: 15px;
}

h2 {
    margin-left: 1rem;
    letter-spacing: 0.01rem;
    font-size: 1.5rem;
}

h2::first-letter {
    font-size: 3rem;
}
