@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #03001C;
    font-family: 'Roboto Mono', monospace;
    max-width: 1600px;
    color: #fff;
}
